<div id='flash-message' style="display: none;">	
  <button type="button" id="flash-message-button" class="close" style="display: none;">
     &times;
  </button>
	<div id='flash-message-body'></div>
</div>