<%= render 'layouts/set_locale' %>

<%= render 'form_upload' %>

<div id='upload-button'>
	<%= content_tag('div', render('button_upload'), class: 'row') %>
</div>
	
<%= content_tag('div', '', id: 'transl-table') %>