<footer class="footer">
  <div class = "col-md-6">
    This project on 
    <%= link_to "GitHub", "https://github.com/lemboy/locales_translator" %>
  </div>
  <div class = "col-md-6 text-right">
    <% if Translator.enabled? %>
      <%= content_tag(:div, link_to("Powered by Yandex.Translate", "http://translate.yandex.com/")) %>
    <% end %>
  </div>
</footer>