<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

  	  <div class="navbar-header">
        <div class="navbar-brand">Locales Translator</div>
      </div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">
					<% if Translator.enabled? %>
						<%= content_tag(:span, t('translation.mt_enabled'), title: t('translation.title.mt_enabled'), class: 'label label-success') %>
				 	<% else %>
				  	<%= content_tag(:span, t('translation.mt_disabled'), title: t('translation.title.mt_disabled'), class: 'label label-warning') %>
					<% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
			    <li class="dropdown app-locale-list">
			      <a href="#" class="dropdown-toggle" id="app-locale-list" data-toggle="dropdown" role="button" aria-expanded="false"><%= app_current_locale %> <span class="caret"></span></a>
			      <ul class="dropdown-menu app-locale-list" role="menu">
							<%= app_locales_list %>							 
			      </ul>
			    </li>
			  </ul>
			</div>

    </div>
  </nav>
</header>

